.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-content div {
  max-width: 1000px;
}

.App-content a {
  text-decoration: none;
  color: #61dafb;
}

.App-iframe{
  margin-top: 50px;
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
